* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select, textarea {
  outline: none;
}

body {
  background-color: #1B2473;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 82px auto 0px auto;
  width: 600px;
  height: 412px;
  background-color: #ffffff;
  border-radius: 20px;
}
.form__registration {
  display: block;
  margin-top: 11px;
  margin-left: 400px;
  font-size: 14px;
  color: #1A226B;
  text-decoration: none;
}
.form__login {
  display: none;
  margin-top: 11px;
  margin-left: 400px;
  font-size: 14px;
  color: #1A226B;
  text-decoration: none;
}
.form__registration-title {
  display: none;
  margin: 26px auto 0px auto;
  font-size: 50px;
  color: #787878;
}
.form__login-title {
  display: block;
  margin: 26px auto 0px auto;
  font-size: 50px;
  color: #787878;
}
.form__mandatory-field {
  font-size: 18px;
  color: #787878;
}
.form__label {
  margin: 20px 0px 3px -445px;
  font-size: 16px;
  color: #787878;
}
.form__input {
  width: 509px;
  height: 49px;
  font-size: 28px;
  border: 2px solid #787878;
  border-radius: 10px;
  color: #787878;
}
.form__login-agree {
  display: block;
  margin: 20px 0px 10px -120px;
  color: #787878;
}
.form__login-agree-checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid #787878;
  border-radius: 2px;
}
.form__registration-agree {
  display: none;
  margin: 20px 0px 20px -200px;
  color: #787878;
}
.form__registration-agree-checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid #787878;
  border-radius: 2px;
}
.form__login-send {
  display: block;
  width: 180px;
  height: 52px;
  font-size: 24px;
  border-radius: 10px;
  background-color: #1A226B;
  color: #ffffff;
}
.form__registration-send {
  display: none;
  height: 52px;
  font-size: 24px;
  border-radius: 10px;
  background-color: #1A226B;
  color: #ffffff;
}

.input-error {
  border: 2px solid #CB2424;
}

.text-error {
  color: #CB2424;
}

.error-msg {
  position: absolute;
  font-size: 10px;
  color: #CB2424;
  display: block;
  margin-left: 20px;
  margin-top: 5px;
}/*# sourceMappingURL=style.css.map */