* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

body {
  position: relative;
  background-image: url(./image/open_book.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

#thirdHeader {
  text-align: center;
  margin: 10px 0;

  color: darkkhaki;
}

h1,
h2 {
  text-align: center;
  margin: 10px 0;
}

.books {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1300px;
}

h2 > a {
  color: darkkhaki;
}

.book {
  position: relative;
  flex-basis: 30%;
  margin: 10px;
  padding: 10px 30px 15px;
  border: 1px solid #39373b;
  color: ghostwhite;
}

.book:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 50, 75, 0.90);
  z-index: -1;
}

@-webkit-keyframes blink {
  100% {
    color: rgba(34, 34, 34, 0);
  }
}
@keyframes blink {
  100% {
    color: rgba(34, 34, 34, 0);
  }
}

.adv {
  position: absolute;
  display: block;
  top: 0;
  right: 10px;
  width: 300px;
  height: 200px;
  background: #f8f8f8 url("./image/adv.jpg") no-repeat center top;
  padding: 150px 0 0;
  text-align: center;
  border: 2px solid red;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}
.adv span {
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}
