.input-error {
  border: 2px solid #CB2424;
}

.text-error {
  color: #CB2424;
}

.error-msg {
  position: absolute;
  font-size: 10px;
  color: #CB2424;
  display: block;
  margin-left: 20px;
  margin-top: 5px;
}