body {
  background-color: #1B2473;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 82px auto 0px auto;
  width: 600px;
  height: 412px;
  background-color: #ffffff;
  border-radius: 20px;

  &__registration {
    display: block;
    margin-top: 11px;
    margin-left: 400px;
    font-size: 14px;
    color: #1A226B;
    text-decoration: none;
  }

  &__login {
    display: none;
    margin-top: 11px;
    margin-left: 400px;
    font-size: 14px;
    color: #1A226B;
    text-decoration: none;
  }

  &__registration-title {
    display: none;
    margin: 26px auto 0px auto;
    font-size: 50px;
    color: #787878;
  }

  &__login-title {
    display: block;
    margin: 26px auto 0px auto;
    font-size: 50px;
    color: #787878;
  }

  &__mandatory-field {
    font-size: 18px;
    color: #787878;
  }

  &__label {
    margin: 20px 0px 3px -445px;
    font-size: 16px;
    color: #787878;
  }

  &__input {
    width: 509px;
    height: 49px;
    font-size: 28px;
    border: 2px solid #787878;
    border-radius: 10px;
    color: #787878;
  }

  &__login-agree {
    display: block;
    margin: 20px 0px 10px -120px;
    color: #787878;

    &-checkbox {
      width: 24px;
      height: 24px;
      border: 2px solid #787878;
      border-radius: 2px;
    }
  }

  &__registration-agree {
    display: none;
    margin: 20px 0px 20px -200px;
    color: #787878;

    &-checkbox {
      width: 24px;
      height: 24px;
      border: 2px solid #787878;
      border-radius: 2px;
    }
  }

  &__login-send {
    display: block;
    width: 180px;
    height: 52px;
    font-size: 24px;
    border-radius: 10px;
    background-color: #1A226B;
    color: #ffffff;
  }

  &__registration-send {
    display: none;
    height: 52px;
    font-size: 24px;
    border-radius: 10px;
    background-color: #1A226B;
    color: #ffffff;
  }
}